@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: #faebce;
  height: 100vh;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Define custom scrollbar colors and size variables */
$scrollbar-thumb-color: #888;
$scrollbar-thumb-hover-color: #555;
$scrollbar-track-color: #f1f1f1;
$scrollbar-width: 4px;

/* Apply styles to the scrollbar */
::-webkit-scrollbar {
  width: #{$scrollbar-width};
}

/* Track */
::-webkit-scrollbar-track {
  background: #{$scrollbar-track-color};
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #{$scrollbar-thumb-color};
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #{$scrollbar-thumb-hover-color};
}

#root {
  height: 100%;
}
.animate-ease-in-top-to-bottom {
  animation: ease-in-top-to-bottom 1s ease-in-out;
}
@keyframes ease-in-top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-ease-in-right-to-left {
  animation: ease-in-right-to-left 1s ease-in-out;
}
@keyframes ease-in-right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-ease-in-left-to-right {
  animation: ease-in-left-to-right 1s ease-in-out;
}
@keyframes ease-in-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
